package templates

import "github.com/a-h/templ"

type Story struct {
    Title     string
    Points    int
    URL       string
    TimeAgo   string
    HNURL     string
}

var ListTemplate = templ.ComponentFunc(func(stories []Story) templ.Component {
    return BaseTemplate(templ.HTML(`
        <div class="container mx-auto p-4">
            <h1 class="text-2xl font-bold">HN Show Titles</h1>
            <ul>
                {{range .}}
                <li class="mb-2">
                    <a href="{{.HNURL}}" target="_blank">
                        <img src="/static/y18.svg" alt="Logo" class="inline-block w-4 h-4 mr-2">
                    </a>
                    <a href="{{.URL}}" target="_blank" class="text-blue-500">{{.Title}}</a> - {{.Points}} points - {{.TimeAgo}}
                </li>
                {{end}}
            </ul>
        </div>
    `, stories))
})
